.owl-carousel .owl-item {
  max-height: 500px;
}
.main-header-area .classy-navbar {
    height: 60px;
}
.main-header-area {
    height: 60px;
}
p{
	color: black !important;
}
#stickyHeader{
	height: 55px;
}
#stickyHeader, #stickyHeader .dropdown{
	background-color: darkslategray;
}
.anhtin{
	width: 100%;
	height: 210px !important;
}
#sltinh, #slhuyen, #slxa{
	display: block !important;
}
.nice-select{
	display: none;
}
